* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    color: #1C2143;
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
}
.site{
    
    color: #1C2143;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 200px;
}
.inicio{
    background-color:#1C2143 ;
    width: 1440px;
    height: 137px;
    
}
body{
    background-color: #E5E5E5;
}

.nome h5 {
    font-size: 20px;
    color: #1C2143;
    margin-bottom: 20px;
    margin-left: 150px;
}

.nome h4 {
    background-color: white;
    width: 1016px;
    height: 49px;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 150px;
    color:#B2AEC2;
    font-size: 25px;
    
    

}


.email h5{
    font-size: 20px;
    color: #1C2143;
    margin-bottom: 20px;
    margin-left: 150px;
}
.email h4{
    background-color: white;
    width: 1016px;
    height: 49px;
    text-align: left;  
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 150px;
    color:#B2AEC2;
    font-size: 25px;
}

.telefone h5{
    font-size: 20px;
    color: #1C2143;
    margin-bottom: 20px;
    margin-left: 150px;
}
.telefone h4{
    background-color: white;
    width: 1016px;
    height: 49px;
    text-align: left;  
    margin-bottom: 20px; 
    border-radius: 10px;
    margin-left: 150px;
    color:#B2AEC2;
    font-size: 25px;
}
.assunto h5{
    font-size: 20px;  
    color: #1C2143;
    margin-bottom: 20px;
    margin-left: 150px;

}
.assunto h4{
    background-color: white;
    width: 1016px;
    height: 49px;
    text-align: left; 
    margin-bottom: 20px; 
    border-radius: 10px;
    margin-left: 150px;
    font-size: 25px;
    color:#B2AEC2;
}
.mensagem h5{
    font-size: 20px; 
    color: #1C2143;  
    margin-bottom: 20px; 
    margin-left: 150px;
}
.mensagem h4{
    background-color: white;
    width: 1020px;
    height: 80px;
    text-align:left;  
    margin-bottom: 20px;  
    border-radius: 10px;
    margin-left: 150px;
    color:#B2AEC2;
    font-size: 25px;
}
img {
     margin-top: 54px;
}
.endereço {
    font-size: 25px; 
    color: #1C2143;  
    margin-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-top: 100px;
}
.mapouter {
    margin-left: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.rodape {
    background-color:#1C2143 ;
    width: 1440px;
    height: 137px;
}
.rodape h4 {
    color: white;
    margin-left: 380px;
    
}

.redes {
    background-color:#1C2143 ;
}

.redes h3 {
    color: white;
}
.social {
    height: 60px;
    
}
.social2 {
    height: 60px;
     ;
}