<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área administrativa - Usuarios </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/efe53d977f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/stylesAdmUsuario.css"> 
    
</head>

<body>
  
    
  <h1>Usuarios</h1>
    

     <div class="container tabela"> 

      <button type="button" class="btn btn-primary adicionar" data-toggle="modal" data-target=".addUsuario">
        <i class="fas fa-plus-circle"></i>
      </button>

      <table class="table table-hover table-responsive{-sm|-md|-lg|-xl}">
        <thead class="thead cabecalho-tabela">

          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
          </tr>
        </thead>

        <tbody>
      
          <tr class="colunaacoes">
            <th class="roxo" scope="row">

              <div class="btn-grop icones d-flex flex-wrap"> 
                <button type="button" class="btn btn-primary botaoacao" data-toggle="modal" data-target=".viewUsuario">
                  <i class="fas fa-eye iconebotao"></i>
                </button>

                <button type="button" class="btn btn-primary botaoacao" data-toggle="modal" data-target=".editUsuario">
                  <i class="far fa-edit iconebotao"></i> 
                </button>
               
                <button type="button" class="btn btn-primary botaoacao" data-toggle="modal" data-target=".deleteUsuario">
                  <i class="fas fa-trash iconebotao"></i>
                </button>
              </div>

            </th>
            <td>Mark</td>
            <td>Otto@gmail.com</td>
         
          </tr>

          <tr>
           <th class="roxo" scope="row">
            
            <div class="btn-grop icones d-flex flex-wrap"> 
              <button type="button" class="btn btn-primary botaoacao" data-toggle="modal" data-target=".viewUsuario">
                <i class="fas fa-eye iconebotao"></i>
              </button>

              <button type="button" class="btn btn-primary botaoacao" data-toggle="modal" data-target=".editUsuario">
                <i class="far fa-edit iconebotao"></i> 
              </button>
             
              <button type="button" class="btn btn-primary botaoacao" data-toggle="modal" data-target=".deleteUsuario">
                <i class="fas fa-trash iconebotao"></i>
              </button>
            </div>

            </th>
            <td>Jacob</td>
            <td>jacob.01@gmail.com</td>
            
          </tr>

          <tr>
           <th class="roxo" scope="row">
            <div class="btn-grop icones d-flex flex-wrap"> 
              <button type="button" class="btn btn-primary botaoacao" data-toggle="modal" data-target=".viewUsuario">
                <i class="fas fa-eye iconebotao"></i>
              </button>

              <button type="button" class="btn btn-primary botaoacao" data-toggle="modal" data-target=".editUsuario">
                <i class="far fa-edit iconebotao"></i> 
              </button> 
             
              <button type="button" class="btn btn-primary botaoacao" data-toggle="modal" data-target=".deleteUsuario">
                <i class="fas fa-trash iconebotao"></i>
              </button>
            </div> 
           </th>
            <td>Larry</td>
            <td>bird@gmail.com</td>
           
          </tr>
        </tbody>
      </table>
     </div> 
  

    <!-- Modal Adiconar usuario -->
  <div class="modal fade addUsuario" id="addUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header cabecalho">
          <h5 class="modal-title" id="exampleModalLabel">Adicionar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>

                  <div class="form-group">
                    <label for="input-nome" >Nome:</label>
                    <input type="text" class="form-control" id="nome" required placeholder="Fulaninho da Silva">
                  </div>

                  <div class="form-group">
                    <label for="descricao">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="***">
                  </div>

                  <p> </p>
          </form>

        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary modbut" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary modbut">Confirmar</button>
            </div>
       </div>

    </div>
  </div>
  <!-- Fim Modal Adicionar Usuario -->

  <!-- Modal View -->
  <div class="modal fade viewUsuario" id="viewUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header cabecalho">
          <h5 class="modal-title" id="exampleModalLabel">Visualizar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <form> -->

            <div class="form-group">
              <label for="input-nome">Nome:</label>
              <input type="text" class="form-control" id="nome" disabled placeholder="Fulaninho da Silva">
            </div>


            <p> </p>

          <!-- </form> -->

        </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary modbut" data-dismiss="modal">Fechar</button>
            </div>
       </div>

    </div>
  </div>
  <!-- Fim Modal view -->


   <!-- Modal Edit -->
   <div class="modal fade editUsuario" id="editUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header cabecalho">
          <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>

                  <div class="form-group">
                    <label for="input-nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Fulaninho da Silva">
                  </div>

                  <div class="form-group">
                    <label for="descricao">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="***">
                  </div>

                  <p> </p>
          </form>

        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary modbut" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary modbut">Confirmar</button>
            </div>
       </div>

    </div>
  </div>
  <!-- Fim Modal Edit -->


  <!-- Modal delete -->
  <div class="modal fade deleteUsuario" id="deleteUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header cabecalho">
          <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            Certeza que deseja excluir?
            <p> </p>
          </form>

        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary modbut" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary modbut">Confirmar</button>
            </div>
       </div>

    </div>
  </div>
  <!-- Fim Modal delete -->



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>

</html>