@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head{
    overflow: visible;
}
body{
    background: color #e5e5e5;;

}
.navBar{
background-color:#1c2143;
display: flex;
justify-content: space-between;
align-items: center;
}
.navBar .botoes a {
    color:#e5e5e5;
    margin: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}
.navBar a:hover{
    color: #ffe26f;
}

.navBar .botoes-menujs a {
    color:#e5e5e5;
    padding-right: 6px;
    padding-left: 6px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}
.navBar .botoes-menujs a:hover{
    color: #ffe26f;
}


.logomain{
    margin-left: 2%;
}

.navbar .logomain img:hover {
   animation: shake 0.5s;
   animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .container{
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    padding-right: 2%;
}
    #checkbox-menu{
      position: absolute;
      opacity: 0;
  }
  label{
      cursor: pointer;
      position: relative;
       display:block;
      height: 22px;
      width: 30px;
     
  
  }
  label span{
      position: absolute;
      display: block;
      height: 5px;
      width: 100%;
      border-radius: 30px;
      background: #ca4727;
      transition: 0.25s ease-in-out;
  }
    label span:nth-child(1){
        top: 0;
    }
    label span:nth-child(2){
        top: 8px;
    }
    label span:nth-child(3){
        top: 16px;
    }

    #checkbox-menu:checked + label span:nth-child(1){
        top: 8px;
        transform: rotate(-45deg);
    }
    #checkbox-menu:checked + label span:nth-child(2){
        opacity: 0;
    }
    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(+45deg);
        top: 8px;
    }

    @media screen and  (max-width: 455px) {
        .container{
            display: block;
        
        }
        .botoes{
            display: none;
         }
        .botoes-menujs{
            display:flex;
            flex-direction: column;
            position:relative;
            

        }
         .botoes-menujs a {
            color:#e5e5e5;
            margin: 0px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            font-family: 'Bebas Neue', cursive;
            box-sizing: border-box;
            background-color:#79b2da;
          
            
        }
        .botoes-menujs a:hover{
            color: #ffe26f;
           background-color: #ca4727;
        }
    }

   