*{margin: 0; padding:0; box-sizing: border-box;} 
.content {display:flex; margin: auto;}
.table {width: 100%; text-align: center;}
.table thead{background: #1C2143; font-weight: bold; color:#fff}
.table tbody tr:nth-child(2n){background: #ccc;}

@media screen and (max-width: 480px) {
    
}
@media screen and (min-width: 1200px) {
 .content{width: 100%;}
 .table tbody tr td:nth-child(1){width: 10%;}
 .table tbody tr td:nth-child(2){width: 30%;}
 .table tbody tr td:nth-child(3){width: 20%;}
 .table tbody tr td:nth-child(4){width: 10%;}
 .table tbody tr td:nth-child(5){width: 30%;}
 .table tbody tr td:nth-child(6){width: 20%;}
 .table tbody tr td:nth-child(7){width: 10%;}
 .table tbody tr td:nth-child(8){width: 30%;}
 .table tbody tr td:nth-child(9){width: 20%;}
 .table tbody tr td:nth-child(10){width:20%;}
}

body {
    padding-top: 10%;
    padding-right:10%;
    padding-left: 10%;
    padding-bottom: 10%;
} 

.botaoacao {
    display: flex!important;
    list-style-type: none !important;
    /* width: 100% !important; */
    padding: 0px !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    border: none !important;
    cursor: pointer !important;
    overflow: hidden !important;
    outline: none !important;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}
.botaoacao:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    outline: none !important;
  }
  
  .botaoacao:active {
    outline: none !important;
    border: none;
  }
  
  .botaoacao:focus {
    outline: 0;
    outline: none !important;
  }
  