<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesFraction | Dashboards</title>
    <link rel="stylesheet" href="../../public/css/dashboard.css">
</head>
<body>
    <main>
        <div class="dashboard">
            <table>
                <tr>
                    <th>
                        <div class="table-one">
                            <a href="/"><p class="text-one">Dashboard Produtos</p>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="table-one">
                            <a href="/"><p class="text-one">Dashboard Produtos</p>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="table-one">
                            <a href="/"><p class="text-one">Dashboard Produtos</p>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>