<!DOCTYPE html>
    <html lang="pt-br">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

       
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/efe53d977f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../public/css/styles.css">
        <script src="../../public/js/login.js"></script>

        <title>Login</title>
    </head>

    <body>

        <header>
            <h1>Login</h1>
        </header>
        
        <main>

            <form action="/pagina-processa-dados-do-form" method="post">

                <div class="quadrados">
                    <div class="email">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" placeholder="exemplo@gmail.com">
                    </div>

                    <div class="senha">
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" placeholder="******">
                        <i class="fas fa-eye" id="aberto" onclick="mostrarSenha()"></i>
                        <i class="fas fa-eye-slash" id="fechado" onclick="mostrarSenha()"></i>
                    </div>

                    <div class="botao">
                        <button type="submit">Login</button>
                    </div>

                </div>


            </form>  
        </main>

    </body>
</html>