<!DOCTYPE html>
<html lang="pt-br">
<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="../../public/css/navbarADM.css">
            <script type="text/javascript" src="../../public/js/navbarADM.js"></script>
            <title>Games Fraction</title>
    </head>

    <body>
       
        <div id="container" class="container-fechado">
            
            <input type="checkbox" id="checkbox-menuS" onclick="openSB()">   
            <label class="label" for="checkbox-menuS"><img src="../../public/assets/configuracoes.svg" height="50px" width="50px"></label>

         
        </div>
        <div id="topicos" class="topicos-fechados">
            <a href="#GerenciarCategorias"><img src="../../public/assets/rede.svg"  height="45px" width="45px"><br>Categorias</a> 
            <a href="#GerenciarProdutos"><img src="../../public/assets/cubo.svg"  height="45px" width="45px"><br>Produtos</a> 
            <a href="#GerenciarUsuários"><img src="../../public/assets/usuario-de-comentarios.svg" height="45px" width="45px"><br>Usuários</a>
            <a href="#LogOut"><img src="../../public/assets/kisspng-computer-icons-exit-sign-emergency-exit-logo-downl-5b383e15c54734.9298414015304125658081.png" height="45px" width="45px"><br>Log-out</a>
        </div>


    </body>
</html>