<!DOCTYPE html>

<html>

<head>

<meta charset = "utf.8">
<title>Contato</title>
<link rel="stylesheet" href = "../../public/css/style.css">
</head>

<body>


    
<img src ="../../public/assets/logo.svg">
    

</div>    
<div class="titulo">
    <h1>Como podemos te ajudar?</h1>
</div>
<br><br>



<div class="site">
    <h3>contato@fractiongames.com.br</h3>
</div>
<br><br>


<div class ="box">
    <form action="">
        <fieldset>
            <legend><b> Contato</b></legend>
            <br><br>
<div class="inputbox">
    <input type="text" name = "nome" id="nome" class= "inputUser" required> 

    <label for= "nome" class ="labelinput">Nome completo</label>
</div>
<br><br>
<br>

<div class="inputbox">
    <input type="text" name = "email" id="email" class= "inputUser" required> 

    <label for= "email" class ="labelinput">Email</label>
</div>
<br><br>
<br>

<div class="inputbox">
    <input type="tel" name = "telefone" id="telefone" class= "inputUser" required> 

    <label for= "telefone" class ="labelinput">Telefone</label>
</div>

<br><br>
<br>

<div class="inputbox">
    <input type="text" name = "assunto" id="assunto" class= "inputUser" required> 

    <label for= "assunto" class ="labelinput">Assunto</label>
</div>
<br><br>
<br>
<div class="inputbox">
    <input type="text" name = "mensagem" id="mensagem" class= "inputUser" required> 

    <label for= "mensagem" class ="labelinput">Mensagem</label>
</div>
<br><br>
<br><br>
<div>
    <input type="submit" name ="submit" id="submit">
</div>

</fieldset>

</form>

</div>



</body>

</html>