<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Fraction - Quem somos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="../../public/css/quemSomos.css">
    <link rel="stylesheet" href="../../public/css/navbar.css">

    <script type="text/javascript" src="../../public/js/navbar.js"></script> 
    <script src="https://kit.fontawesome.com/efe53d977f.js" crossorigin="anonymous"></script>
</head>

<body>

    <header  class="navBar">

        <div class="logoMain">
            <a href="#default" class="logo"> <img src="../../public/assets/logo.svg" height="70px" width="70px" ></a>
        </div>
       
        <nav id="botoes" class="botoes"> 
            <a class="active" href="#home">Home</a>
            <a href="#quemSomos">Quem somos</a>
            <a href="#produtos">Produtos</a>
            <a href="#contato">Contato</a>
            <a href="#login">Login</a>
        </nav>

        <div class="container">
            <input type="checkbox" id="checkbox-menu">
         
            <label  for="checkbox-menu" onclick="openNav()">
                <span></span>
                <span></span>
                <span></span>
             </label>
         </div>

    </header>
 
    <div class="titulo">
        <h1>Sobre nós</h1>
    </div>

    <div class="historia"> 


        <div class="texto">
            <p>
                Fundada em 2010, a Games Fraction foi criada por um grupo de colegas que sua maior caracteristica em
                comum era o fato de gostarem muito de jogos. O nome veio em homenagem ao idealizador da ideia cujo 
                faleceu muito cedo em um acidente de carro.
            </p>

            <p>
                Determinados a tentar realizar o sonho do seu amigo Frasson - que era poder levar a felicidade e a diversão
                que os jogos em geral proporcionavam, a quem não podia - o grupo de amigos fundaram uma loja cujo um dos seus 
             principais objetivos era e ainda é oferecer jogos para a sociedade com um preço mais acessivel!
            </p>

            <p>
                Com uma cultura voltada ao cliente, estamos sempre priorizando a experiencia e a satisfação do cliente,
                assim sempre melhorando os nossos serviços, mantendo o nosso catálogo de jogos sempre atualizado com os
                últimos lançamentos, mantendo uma grande diversidade de jogos para atender do publico infantil até o
                público adulto e mantendo o preço mais acessivel possivel!
            </p>
        </div>

        <div class="imagem">
            <img src="../../public/assets/logo.svg" alt="logo">
        </div>


    </div> 

    <div class="icones">

        <div class="missao">

            <div class="icone1">
                <i class="fas fa-code"></i>
            </div>

            <div class="quebraLinha">
                <h2> Missão:  Dar mais acessibilidade aos jogos</h2>
            </div>
        </div>

        <div class="missao">

            <div class="icone1">
                <i class="fas fa-eye"></i>
            </div>

            <div class="quebraLinha">
                <h2>Visão:  Ser uma das maiores lojas de jogos do mundo, sendo conhecida pelos preços acessiveis e por qualidade de atendimento ao cliente</h2>
            </div>
        </div>

        <div class="missao">

            <div class="icone1">
                <i class="fas fa-balance-scale"></i>
            </div>

            <div class="quebraLinha">
                <h2>Valores:  Cliente em primeiro lugar, acessibilidade aos jogos para todos</h2>
            </div>

        </div>

    </div>

</body>
</html>