<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="script.js" defer></script>
</head>
<title>Visualizar Produto</title>
</head>

<body>
    <div class = "principal">
        <div class = "card">
          
          <div class = "produtos-imgs">
            <div class = "img-display">
              <div class = "mostruario">
                <img class = fotoprincipal src="../../public/assets/gta5.jpg" class="img-fluid" alt="Jogo Gta V">
                <img src="../../public/assets/paisagem1.jpg" alt="">
                <img src="../../public/assets/paisagem2.jpg" alt="">
                <img src="../../public/assets/paisagem 3.jpg" alt="">
                <img class = "foto2" src="../../public/assets/gta5.jpg" alt ="">

              </div>
            </div>
            <div class = "img-selecao">
              <div class = "img-item">
                <a href = "#" data-id = "1">
                  <img src = "../../public/assets/paisagem1.jpg" alt = "paisagem">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "2">
                  <img src = "../../public/assets/paisagem2.jpg" alt = "paisagem">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "3">
                  <img src = "../../public/assets/paisagem 3.jpg" alt = "paisagem">
                </a>
                
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "4">
                  <img src = "../../public/assets/gta5.jpg" alt = "paisagem">
                </a>
                
              </div>
              
            </div>
          </div>
          
          <div class = "produto-conteudo">
            <h2 class = "produto-titulo">GTA V</h2>
            
            
  
            <div class = "produto-preco">
              <p class = "ultimo-preco">De: <span>R$XXX.XX</span></p>
              <p class = "preco-novo">Para: <span>R$XXX.XX (X%)</span></p>
            </div>
  
            <div class = "produto-detalhe">
              <h2>Sobre esse produto: </h2>
              <p>Entre nas vidas de três criminosos muito diferentes, Michael, Franklin e Trevor, enquanto eles arriscam tudo
                em uma série de assaltos ousados que podem garantir o resto de suas vidas. Explore o deslumbrante mundo de
                Los Santos e Blaine County na experiência definitiva de Grand Theft Auto V, apresentando amplas atualizações
                e melhorias técnicas tanto para jogadores novos quanto para os que estão retornando. Além de distâncias
                maiores de renderização e melhor resolução, os jogadores podem esperar diversas adições e melhorias.</p>
              <ul>
                
                <li>Disponível: <span>Em estoque</span></li>
                <li>Categoria: <span>Jogos eletrônicos</span></li>
                
              </ul>
            </div>
  
            <div class = "informacao-compra">
              <input type = "number" min = "0" value = "1">
              <button type = "button" class = "btn">
                Comprar <i class = "botaocomprar"></i>
              </button>
              
            </div>
  
            
          </div>
        </div>
      </div>
  
  
      
    </body>
  </html> 