@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#e5e5e5;

}
.rodapes{
    position: absolute;
    bottom: 0;
    background-color:#1c2143;
    display:flex;
    height: 350px;
    width: 100%;
    justify-content:space-around ;
    
}

.item1{
    color:#79b2da;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Zen Maru Gothic', sans-serif;
    display: block;
    background-color: #2d2d2d;
    margin-top: 5%;
    margin-bottom: 2%;
}
.item2{
    color:#79b2da;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Zen Maru Gothic', sans-serif;
    display: block;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 2%;
}
.item3{
    color:#79b2da;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Zen Maru Gothic', sans-serif;
    display: block;
    background-color: green;
    margin-top: 5%;
    margin-bottom: 2%;
}
.item4{
    color:#79b2da;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Zen Maru Gothic', sans-serif;
    display: block;
    background-color: orange;
    margin-top: 5%;
    margin-bottom: 2%;
}

@media only screen and (max-widht: 400px) {
    
}