html,body{
    background-color:#141414;
    color: #F2E9DF;
    margin: 0px;
    padding-bottom: 5%;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.titulo{
    text-align: center;
    color: #CA4727;
    font-family: 'Bebas Neue', cursive;
}

.historia{
    margin-left: 10px;
    margin-bottom: 10px;
}

.historia div{
    display: inline-block;
    height: 410px;
}

.texto{
    vertical-align: top;
    width: 64%;
    height: 100%;
    text-align: justify;
    font-size: 20px;
    line-height: 29px;

}

.imagem{
    width: 35%;
    text-align: center;
    height: 100%;

    animation-name: efeitoUm;
    animation-duration: 5s;
}

.imagem img{
    width: 300px;
}

.icones div{
    height: 100%;
    text-align: center;
}

.icones div i{
    font-size: 55px;
    color:#CA4727 ;
    margin-bottom: 0%;
}

.icones div i:hover{
    color: #FFE26F;
    font-size: 60px;
}

.icones h2{
    margin-bottom: 0%;
    margin-right: 0%;
    text-align: left;
    font-family:'Bebas Neue', cursive; 
    color:#CA4727 ;
}

.missao{
    width: 100%;
}

.missao div{
    display: inline-block;
}

.quebraLinha{
    width: 79%;
}

.icone1{
    width: 20%;
}


@keyframes efeitoUm{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 1000px){

}