*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f2e9df;
}

.container{
    position:absolute;
    background-color:#ffe26f;
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    color: #f2e9df;
    transition: width 2s;
}


#checkbox-menuS{
    position: absolute;
    opacity: 0;
}
label{
    cursor: pointer;
}
#checkbox-menuS:checked + label :nth-child(1){
    transform: rotate(360deg);
    transition: 2s;
}


#checkbox-menuS:checked + .container  {
    width: 300px;  
}




