@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f2e9df;
}

.container{
    position:static;
    background-color:#ffe26f;
    width: 5%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    color: #f2e9df;
    transition: width 2s;
    border-radius: 75px;
}
.topicos{
    position: absolute;
    height: 50%;
    background-color:#ffe26f;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.topicos a{
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    text-decoration: none;
    color: #ca4727;
    text-align: center;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    border-color: #ca4727;

}


#checkbox-menuS{
    position: absolute;
    opacity: 0;
}
label{
    cursor: pointer;
}
#checkbox-menuS:checked + label :nth-child(1){
    transform: rotate(360deg);
    transition: 2s;
}


#checkbox-menuS:checked + .container  {
    width: 300px;  
}




